# Directories
.Trash/
.atom/.apm/
.atom/blob-store/
.atom/compile-cache/
.atom/packages/
.atom/storage/
.bash_sessions/
.cache/
.codeintel/
.config/browser-launcher2/
.config/configstore/
.config/git/
.config/nvim/bundle/
.config/nvim/temp/
.config/robomongo/
.cups/
.dropbox/
.dvdcss/
.eclipse/
.electron/
.emacs.d/
.local/
.node-gyp/
.npm/
.openshift/
.oracle_jre_usage/
.p2/
.smb/
.ssh/
.subversion/
.vim/bundle/
.vim/temp/
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/

# Files
.bash_history
.bash_logout
.bash_profile
.bashrc
.babel.json
.CFUserTextEncoding
.config/fish/fishd.*
.config/fish/fish_history
.config/nvim/.init.vim-rplugin~
.gitconfig
.git-credentials
.netrc
.password
.profile
.sh_history
.v8flags.4.6.85.31.matt.json
.z
dotfiles.sublime-project
dotfiles.sublime-workspace